/* # Overrides */

:root {
	--primer-color-accent: 148, 255, 21;
	--color-accent: rgb(var(--primer-color-accent));
}

body {
	justify-items: center;
	overflow-x: hidden;
}

main {
	padding: var(--padding);
	width: 100%;
	max-width: 1000px;
}

/* # Sections */

/* ## Into */

section.intro h2 {
	font-size: 25px;
}

section.intro h1 {
	font-size: 40px;
	color: var(--color-accent);
}

/* ## Divider */

main > hr {
	margin: var(--padding);
	border-color: rgba(255, 255, 255, .1);
}

/* ## About */

section.about {
	display: flex;
	flex-direction: column;
	gap: var(--padding);
}

section.about {
	font-size: 16px;
}

section.about p:first-of-type:first-letter {
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--color-accent);
}

section.about span.interests {
	color: var(--color-accent);
	animation: interests-hue 5s infinite linear;
}

/* ## Interests */

div.interests {
	transition: 300ms opacity;
	position: absolute;
	top: 0;
	left: 0;
	font-weight: bold;
	pointer-events: none;
	font-size: 60px;
	color: var(--color-accent);
	opacity: 0;
}

div.interests.active {
	opacity: 1;
}

div.interests p {
	--text-shadow-blur: 30px;

	transition: 300ms transform;
	position: absolute;
	text-shadow: 
		0 0 var(--text-shadow-blur) black,
		0 0 var(--text-shadow-blur) black,
		0 0 var(--text-shadow-blur) black,
		0 0 var(--text-shadow-blur) black,
		0 0 var(--text-shadow-blur) black;
}

@keyframes interests-hue {
	to {
		-webkit-filter: hue-rotate(360deg);
		filter: hue-rotate(360deg);
	}
}