/* # Overrides */

header {
	background-color: transparent;
	-webkit-backdrop-filter: unset;
	backdrop-filter: unset;
}

main {
	max-width: unset;
}

/* # Sections */

canvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: .3;
	transform: scale(1.3);
}