/* # Overrides */

main {
	height: 100%;
	width: 100svw;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: var(--padding);
}

.mobile {
	display: contents;
}

.large {
	display: none;
}

/* # Sections */

picture.gazing {
	margin: auto;
}

picture.gazing img {
	height: clamp(20px, 100vw, 55vh);
	-webkit-filter: hue-rotate(var(--hue-accent));
	filter: hue-rotate(var(--hue-accent));
}

picture.gazing + *.mobile {
	margin-top: auto;
}

/* ## Global sections */

[vv-call="copyEmail"] {
	user-select: none;
	cursor: pointer;
}

[vv-call="copyEmail"].lock {
	pointer-events: none;
}

/* ## Portrait sections */

/* ### Divider */

.mobile > svg {
	padding: 0 var(--padding);
	width: 100%;
	max-width: 400px;
}

/* ### Email */

.mobile section.email {
	width: 100%;
	max-width: 500px;
	text-align: center;
	padding: var(--padding);
}

.mobile section.email p:last-of-type {
	color: var(--color-accent);
}

/* ### Menu button */

.mobile section.button {
	width: 100%;
	max-width: 600px;
	padding: var(--padding);
	display: grid;
}

.mobile section.button menu-button {
	padding: var(--padding);
	border-radius: 16px;
	width: 100%;
	text-align: center;
	background-color: rgba(255, 255, 255, .2);
	cursor: pointer;
}

/* ## Landscape sections */

/* ### Menu */

.large {
	display: none;
	flex-direction: column;
	align-items: end;
}

.large section.menu {
	display: flex;
	flex-direction: column;
	align-items: end;
	font-weight: 800;
	color: var(--color-accent);
	font-size: clamp(30px, 7vh, 60px);
	padding: var(--padding) 0;
}

/* ### Email */

.large section.email {
	padding: var(--padding);
	display: flex;
	flex-direction: column;
	text-align: right;
}

.large section.email p:last-of-type {
	color: var(--color-accent);
}

/* # Menu */

menu {
	position: fixed;
	top: 0;
	left: 0;
	margin-top: var(--running-size);
	width: 100%;
	height: calc(100% - var(--running-size));
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: var(--padding);
	background-color: rgba(0, 0, 0, .85);
	padding: calc(var(--padding) * 2);
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);

	pointer-events: none;
	opacity: 0;
}

menu.active {
	pointer-events: all;
	opacity: 1;
}

/* ## Search box */

menu searchbox {
	background-color: rgba(255, 255, 255, .1);
	border-radius: 6px;
}

/* ## Nav */

menu nav {
	flex: 1 1 auto;
	display: flex;
	align-items: end;
	justify-content: center;
	flex-direction: column;
}

menu nav p {
	font-size: 60px;
	font-weight: 900;
	color: rgb(var(--color));
}

/* ## Close button */

menu close-button {
	--icon-size: 30px;

	width: 100%;
	padding: var(--padding);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--padding);
	fill: var(--color-accent);
	border-radius: 6px;
	cursor: pointer;
}

menu close-button svg {
	height: var(--icon-size);
}

/* # Email-copied splash */

splash {
	--confetti: unset;
	--text-shadow: 0 0 30px black;

	display: initial !important;
	transition: 300ms opacity;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 80px;
	color: white;
	z-index: 200;
	font-weight: 900;
	pointer-events: none;
	perspective: 300px;
	text-shadow: 
		var(--text-shadow), 
		var(--text-shadow), 
		var(--text-shadow), 
		var(--text-shadow)
	;
	animation: splash-reveal 1s ease;
}

splash.hide {
	opacity: 0;
}

splash::after {
	content: "";
	top: 50%;
	left: 50%;
	position: absolute;
	width: 8px;
	height: 16px;
	background-color: transparent;
	box-shadow: var(--confetti);
	animation: splash-confetti 1s ease;
	opacity: 0;
}

/* ## Keyframes */

@keyframes splash-confetti {
	0%   { 
		transform: rotate(12deg) scale(0);
		opacity: 1;
	}

	60% {
		opacity: 1;
	}

	100% { 
		transform: rotate(-10deg) scale(1);
		opacity: 0;
	}
}

@keyframes splash-reveal {
	0%   { transform: translate(-50%, -50%) rotate(-8deg) scale(0); }
	35%  { transform: translate(-50%, -50%) rotate(-3deg) scale(1.1); }
	100% { transform: translate(-50%, -50%) rotate(0deg) scale(1); }
}

/* # Feature queries */

@media (hover: hover) {
	.large section.menu p {
		transition: 300ms transform, 300ms text-shadow;
	}

	.large section.menu p:hover {
		transform: translate(-5px, -5px);
		text-shadow:
			1px 1px 0 rgba(var(--primer-color-accent), .1),
			2px 2px 0 rgba(var(--primer-color-accent), .1),
			3px 3px 0 rgba(var(--primer-color-accent), .1),
			4px 4px 0 rgba(var(--primer-color-accent), .1),
			5px 5px 0 rgba(var(--primer-color-accent), .1)
		;
	}
}

/* # Size queries */

@media (min-width: 1100px) {
	main {
		top: var(--running-size);
		height: calc(100% - var(--running-size));
		max-width: 1300px;
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: repeat(2, 1fr);
		gap: 120px;
	}

	.mobile {
		display: none;
	}

	.large {
		display: flex;
	}
}