/* # Overrides */

body[vv-page="/search"] {
	justify-items: center;
	overflow-x: hidden;
}

body[vv-page="/search"] main {
	padding: var(--padding);
	width: 100%;
	max-width: 1000px;
}

[vv-page="/search"] main {
	display: flex;
	flex-direction: column;
	gap: var(--padding);
}

/* # Sections */

/* ## Search */

body.search-dialog-open section.search {
	display: none;
}

/* ## Titles */

section.title h2 {
	color: var(--color-accent);
}

section.title a h2::before {
	content: "// ";
	color: white;
}

/* ## Work */

section.results.work {
	display: grid;
	grid-template-columns: 1fr;
	gap: calc(var(--padding) / 2);
}

section.results.work .result {
	padding: var(--padding);
	background-color: rgba(255, 255, 255, .1);
}