@font-face {
	font-family: "Roboto Mono";
	src: 
		url("/assets/fonts/roboto-mono.woff2") format("woff2 supports variations"),
		url("/assets/fonts/roboto-mono.woff2") format("woff2-variations")
	;
	font-weight: 100 900;
}